[Unit]
Description=A lightweight Wayland notification daemon
Documentation=man:mako(1)
After=graphical-session.target

After=gnome-session-initialized.target
Conflicts=mako.service

[Service]
Type=simple
ExecStart=@mako@/bin/mako
