[Unit]
Description=sway gnome
OnFailureJobMode=replace
DefaultDependencies=no

BindsTo=graphical-session.target
Wants=graphical-session-pre.target
After=graphical-session-pre.target

BindsTo=sway.service
After=sway.service
