[Unit]
Description=sway gnome
DefaultDependencies=no

#Requisite=gnome-session-initialized.target
#PartOf=gnome-session-initialized.target
#Before=gnome-session-initialized.target

Wants=sway.service

